<!-- <html>

<head>
	<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<style>
		.i-am-centered {
			margin: auto;
			max-width: 300px;
			padding-top: 20%;
		}
	</style>
</head>

<body>
	<div class="i-am-centered">
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label>Transaction type </label>
				{{ form.transaction_type }}
			</div>
			<div class="form-group">
				<label>Material Name </label>
				{{ form.material_name }}
			</div>
			<div class="form-group">
				<label>Date</label>
				{{ form.date }}
			</div>
			<div class="form-group">
				<label>Doc.no</label>
				{{ form.doc_no }}
			</div>
            
<script type="text/javascript">
    function ShowHideDiv() {
        var getid = document.getElementById("getid");
        var dvPassport = document.getElementById("dvPassport");
        dvPassport.style.display = getid.value == "i" ? "block" : "none";
        dvPassport.style.display = getid.value == "r" ? "block" : "none";
    }
</script>
<span>Transaction type</span>
    <select id = "getid" onchange = "ShowHideDiv()">
        <option value="r">Received From</option>
        <option value="i">issued to</option>            
    </select>
<hr />
<div id="dvPassport" style="display: none">
    Received From:
    <input type="text" id="txtPassportNumber" />
    
</div>
            
           
            <div class="form-group">
				<label>issue</label>
				{{ form.issue }}
			</div>
            <div class="form-group">
				<label>balance</label>
				{{ form.balance }}
			</div>
            <div class="form-group">
				<label>verification date</label>
				{{ form.verification_date }}
			</div>
            <div class="form-group">
				<label>verified by</label>
				{{ form.verified_by }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>

</html> -->
<style>

.contact{
	padding: 4%;
	height: 400px;
}

.contact-info{
	margin-top:10%;
}
.contact-info img{
	margin-bottom: 15%;
}
.contact-info h2{
	margin-bottom: 10%;
}
.col-md-9{
	background: #fff;
	padding: 3%;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.contact-form label{
	font-weight:600;
}
.contact-form button{
	background: #25274d;
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus{
	box-shadow:none;
}
</style> 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h2>Material Stock Updation</h2>
		<div class="col-md-9">
			<form  method="POST" class="post-form" action="/display">
		        {% csrf_token %}
				<div class="container"> 
					

				<script type="text/javascript">
					$(function () {
						$("#getid").change(function () {
							if ($(this).val() == "RF") {
								$("#dvPassport").show();
							} else {
								$("#dvPassport").hide();
							if ($(this).val()=="IS"){
								$("#dv").show();
							} else {
								$("dv").hide();
							}
				
							}
						});
					});
				</script>
				<label class="=control-label col-sm-5" >Transaction Type:</label>  
				<span>{{ Transaction_Type }}</span>
				<select id="getid">
					<option value="IS">Issued to</option>
					<option value="RF">Received From</option>
				</select>
				<hr /> 
				<div id="dvPassport" style="display: none">
					<div class="col-sm-10">
						<label class="=control-label col-sm-5" >Received From:</label>  
						<div class="col-sm-10">
						<input type="text" class="form-control" id="Received_From" name="Received_From" placeholder="{{ form.Received_From }}">
					</div>
					</div>
					<div class="col-sm-10"> 
						<label class="=control-label col-sm-5" >Number Of Received:</label> 
						<div class="col-sm-10">
						<input type="text" class="form-control" id="Number_Of_Received" name="Number_Of_Received" placeholder="{{ form.Number_Of_Received }}">
					  </div>
					  </div>
					</div>
					
				<div id="dv" style="display: none">
					<div class="col-sm-10">     
						<label class="=control-label col-sm-5" >Issued From:</label> 
						<div class="col-sm-10">    
						<input type="text" class="form-control" id="Issue_From" name="Issue_From" placeholder="{{ form.Issue_To }}">
						</div>
						</div>
					<div class="col-sm-10">          
						<label class="=control-label col-sm-5" >Number of issued:</label>
						<div class="col-sm-10">
						<input type="text" class="form-control" id="Number_Of_issued" name="Number_Of_issued" placeholder="{{ form.Number_Of_issued }}">
					    </div>
						</div>
				    </div>
				<div class="form-group">
					<label class="control-label col-sm-5" >Balance:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="Balance" name="Balance" value="{{ form.Balance }}" >
					</div>
				</div>
				<!-- <select>
					<option disabled="true" selected>--select material name----</option>
					{% for results in Materialsinventory %}
					{{ Materialsinventory }}
					<option>{{ results.Material_Name}}</option>
					{% endfor %}
				</select> -->
				
				<div class="form-group">
					<label class="=control-label col-sm-5" >Date:</label>
					<div class="col-sm-10">
					<input type="date" class="form-control" id="Date" name="Date" value="{{ form.Date }}" >
				  </div>
				  </div>
				  <div class="form-group">
					<label class="=control-label col-sm-5" >Document Number:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id= "Document_Number" name="Document_Number"  value=" {{ form.Document_Number }}" >
				  </div>
				  </div>
				<div class="form-group">
				  <label class="control-label col-sm-5">Verification Date:</label>
				  <div class="col-sm-10">
					<input type="date" class="form-control" id="Verification_Date" name="Verification_Date" placeholder="{{ form.Verification_Date }}" >
				  </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-5" >Verified by:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="Verified_By" name="Verified_By" placeholder="{{ form.Verified_By }}" >
					</div>
				  </div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<!-- <button type="submit" class="btn btn-default">Submit</button> -->
					<input type="submit"  value="submit"/> 
				</div>
				</div>
				</form>
				</div>
			
		</div>
	</div>

</div> 


