<head>  
  <style>
    /* body{
      background-color:rgb(181, 199, 231);
    } */
    input{
      border: 1px solid rgb(58, 57, 57);
      height: 20px;
    }
    label{
      font-size: 20px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }      
  </style>  
  </head>
<body>  
<form method="POST" class="post-form" action="">  
        {% csrf_token %}  
    <div class="container">  
<br>
  <div class="form-group row">  
  <label class="col-sm-4 col-form-label"></label>  
  <div class="col-sm-4">  
<center><h3>Enter Details</h3></center>  
  </div>  
    <center>
    <label class="col-sm-4 col-form-label">Date:</label>  
    <div class="col-sm-4">  
      {{ form.Date }}  
    </div>
  <label class="col-sm-4 col-form-label">Document Number:</label>  
    <div class="col-sm-4">  
      {{ form.Document_Number }}  
    </div>  
    <form action="/action_page.php">
      <label for="Material">Material Name:</label>
      <select name="material" id="material">
        <option value="keyboard">keyboard</option>
        <option value="mouse">mouse</option>
        <option value="pen">pen</option>
        <option value="pencil">pencil</option>
      </select>
    <div class='col-sm-4'>
      {{ form.material_name}}
    </div>
    </form>
    <label class="col-sm-4 col-form-label">Received From:</label>  
    <div class="col-sm-4">  
      {{ form.Received_From }}  
    </div>  
    <label class="col-sm-4 col-form-label">Receipt Number:</label>  
    <div class="col-sm-4">  
      {{ form.receipt_no }}  
    </div>
    <label class="col-sm-4 col-form-label">Issue:</label>
    <div class="col-sm-4">
      {{form.Issue_From}} 
    </div>
    <label class="col-sm-4 col-form-label">Balance:</label>
    <div class = "col-sm-4">
      {{form.Balance}}
    </div>
    <label class="col-sm-4 col-form-label">verification Date:</label>
    <div class = "col-sm-4">
      {{form.Verification_Date}}
    
    <label class="col-sm-2 col-form-label">Verified By:</label>
    <div class = "col-sm-4">
      {{form.Verified_By}}
    </div>
  
    <label class="col-sm-4 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Submit</button>  
    </div> 
  </center> 
    </div>  
</form>  
</body>  
</html>  

